<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:template-part {"slug":"banner-image-w-text","area":"uncategorized"} /-->

<!-- wp:spacer {"height":"86px"} -->
<div style="height:86px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:heading {"textAlign":"center","fontSize":"h2"} -->
<h2 class="wp-block-heading has-text-align-center has-h-2-font-size">Sorry about that!</h2>
<!-- /wp:heading -->

<!-- wp:buttons {"style":{"border":{"radius":"7px"}},"layout":{"type":"flex","justifyContent":"center"}} -->
<div class="wp-block-buttons" style="border-radius:7px"><!-- wp:button {"width":25,"style":{"border":{"radius":"15px"}}} -->
<div class="wp-block-button has-custom-width wp-block-button__width-25"><a class="wp-block-button__link wp-element-button" href="http://localhost/capstone/" style="border-radius:15px">Return to Home</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons -->

<!-- wp:spacer {"height":"86px"} -->
<div style="height:86px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->